.kc_slider {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: nowrap;
  transition: all 1s cubic-bezier(0.27, 0.75, 0.71, 0.97);
  align-items: flex-end;
  overflow-x: visible;
}
.kc_slider .box {
  width: 100%;
  height: 100%;
  flex-basis: 25%;
  max-width: 19.5%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 0.25%;
  padding-right: 0.25%;
  transition: all 0.2s ease;
  cursor: pointer;
}
.kc_slider .boxNoEffects {
  width: 100%;
  height: 100%;
  flex-basis: 25%;
  max-width: 19.5%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 0.25%;
  padding-right: 0.25%;
}
.kc_slider .box img {
  width: 100%;
  margin-top: 0px;
}
.kc_slider .boxNoEffects img {
  width: 100%;
  margin-top: 0px;
}
.kc_slider .box:hover {
  transform: scale(1.1);
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.kc_slider_container {
  position: relative;
}
.kc_slider_container .page_small_view_container {
  position: absolute;
  top: -9%;
  right: 15px;
  display: inline-block;
}
.kc_slider_container .page_small_view {
  background: #ffffff61;
  width: 24px;
  height: 3px;
  margin: 3px;
  float: left;
  border-radius: 10px;
}
.kc_slider_container .page_small_view_selected {
  background: #ffffffad;
  width: 24px;
  height: 3px;
  margin: 3px;
  float: left;
  border-radius: 10px;
}

.kc_pager_right {
  transition: all 0.6s ease;
  height: 80%;
  width: 70px;
  position: absolute;
  background: rgba(0, 0, 0, 0.801);
  right: 15px;
  z-index: 2;
  top: 10%;
  display: block;
  cursor: pointer;
  border-radius: 22px;
}
.kc_pager_left {
  transition: all 0.6s ease;
  height: 80%;
  width: 70px;
  position: absolute;
  background: rgba(0, 0, 0, 0.801);
  left: 15px;
  z-index: 2;
  top: 10%;
  cursor: pointer;
  display: block;
  border-radius: 22px;
}
.kc_pager_right .icon,
.kc_pager_left .icon {
  position: absolute;
  top: 48%;
  width: 70%;
  text-align: center;
  left: 17%;
}
.kc_pager_right .icon img,
.kc_pager_left .icon img {
  filter: invert(1);
  width: 65%;
}

/* The loading Class */
.loading {
  position: relative;
  background-color: #1d1d1d;
  overflow: hidden;
}

/* The moving element */
.loading::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );

  /* Adding animation */
  animation: loading 1.3s infinite;
  top: 0px;
  left: 0px;
}

/* Loading Animation */
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@media only screen and (min-width: 100px) {
  .kc_slider .box,
  .kc_slider .boxNoEffects {
    max-width: 24.5%;
    margin-left: 0.3%;
    margin-right: 0.3%;
  }
  .kc_slider .box:hover {
  }
  .kc_slider {
    overflow-x: scroll;
  }
  .kc_pager {
    display: none;
  }
  .kc_pager_left,
  .kc_pager_right {
    display: none;
  }
  .kc_slider_container .page_small_view_container {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .kc_slider .box,
  .kc_slider .boxNoEffects {
    max-width: 19.5%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .kc_slider .box:hover {
  }
  .kc_slider {
    overflow-x: visible;
  }
  .kc_pager_left,
  .kc_pager_right {
    display: block;

    width: 20px;
    right: 7px;
  }

  .kc_pager_right .icon,
  .kc_pager_left .icon {
    width: 90%;
    left: 10%;
  }
  .kc_slider_container .page_small_view_container {
    display: block;
  }
}
@media only screen and (min-width: 700px) {
  .kc_slider .box,
  .kc_slider .boxNoEffects {
    max-width: 16.11111%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .kc_slider .box:hover {
  }
  .kc_slider {
    overflow-x: visible;
  }
  .kc_pager_left,
  .kc_pager_right {
    display: block;

    width: 20px;
    right: 7px;
  }

  .kc_pager_right .icon,
  .kc_pager_left .icon {
    width: 90%;
    left: 10%;
  }
}
@media only screen and (min-width: 800px) {
  .kc_slider .box,
  .kc_slider .boxNoEffects {
    max-width: 13.755555%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .kc_slider .box:hover {
    transform: scale(1.08);
    margin-left: 0.6%;
    margin-right: 0.6%;
  }
  .kc_slider {
    overflow-x: visible;
  }
  .kc_pager_left,
  .kc_pager_right {
    display: block;

    width: 30px;
    right: 7px;
  }

  .kc_pager_right .icon,
  .kc_pager_left .icon {
    width: 90%;
    left: 10%;
  }
}
@media only screen and (min-width: 1000px) {
  .kc_slider .box,
  .kc_slider .boxNoEffects {
    max-width: 12%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .kc_slider .box:hover {
    transform: scale(1.14);
    margin-left: 0.71%;
    margin-right: 0.71%;
  }

  .kc_slider {
    overflow-x: visible;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .kc_pager_left,
  .kc_pager_right {
    display: block;
    width: 36px;
    right: 7px;
  }

  .kc_pager_right .icon,
  .kc_pager_left .icon {
    width: 90%;
    left: 10%;
  }
}
